{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Euforiapp</title>
  </head>
{% block header %}
{% endblock header %}

{% block content %}
{% load random_tags %}
{% load srmcheck_tags %}
    <div class='container'>
        <div class='card'>
            <h2 class="p-3 mb-2 bg-success text-white">今日は{{ todaystr }}です</h2>

        <div class="card-body">
            <body>
                <p>
                <div class="d-grid gap-2">
                    <h5>SRM 残り　エクセル　合計点　matplotlib 会員　デプロイ</h5>
                    <a>{% SRM_check %}</a>
                    {% if todaystr in SRMmodels %}
                        <a class="btn btn-warning" href="{% url 'SRMupdate' todaystr %}" role="button">今日のSRM(修正)</a>
                    {% else %}
                        <a class="btn btn-warning" href="{% url 'SRMcreate' %}" role="button">今日のSRM(新規)</a>
                    {% endif %}
                <h5></h5>

                <h5>今日のストレス得点表が未入力です</h5>
                {% if todaystr in St_models %}
                    <a class="btn btn-warning" href="{% url 'St_update' todaystr %}" role="button">今日の得点表(修正)</a>
                {% else %}
                    <a class="btn btn-warning" href="{% url 'St_create' %}" role="button">今日の得点表(新規)</a>
                {% endif %}
                </div>    
                </p>

                <h5></h5>

            </body>
        </div>
        <div class="card-body">
            <h5>自分を肯定する言葉</h5>
            <a>{% randomtag 10 15 %}</a>
        </div>
        </div>
    </div>
{% endblock content %}

